
.header{
  background: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer{
  width: 100%;
  max-width : 1024px;
  margin: 20px 0 100px 0;
}

.headerList{
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active{
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 20px;
}
.headerDesc{
  margin: 20px 0;
}

.headerBtn {
  background: #0071c2;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 0.4rem;
}

.headerSearch{
  height: 30px;
  background: #fff;
  border: 3px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon{
  color: lightgray;
}

.headerSearchItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput{
  border: none;
  outline: none;
}

.headerSearchText{
  color: lightgray;
}

.data{
  position: absolute;
  top: 50px;
}

.headerSearchText.date{
  font-size: 1.2rem;
}

.options{
  position: absolute;
  top: 50px;
  background: #fff;
  color: gray;
  border-radius: 5px;
  --webkit-box-shadow:0px 0px 10px -5px rgba(0,0,0,0.2) ;
  box-shadow:0px 0px 10px -5px rgba(0,0,0,0.2) ;
}

.optionItem{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #222332;
}

.optionCounterButton{
  width: 30px;
  height: 30px;
  color: #0071c2;
  border: 1px solid #0071c2;
  cursor: pointer;
  background: #fff;
}