@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@200&display=swap');


$textcolor:#b1bdb4;
$black-primary:#16181b;
$black-secondary:#121417;
$border-color:#4c4c4c;

$breakpoints-medium:1224px;
$breakpoints-small:520px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $black-primary;
  background-attachment: fixed;
  color: $textcolor;
  font-family:"Roboto",sans-serif;
  letter-spacing: 0.008rem;
}