
.navbar{
  height: 50px;
  background: #003580;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 600;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  font-weight: 400;
  text-transform: capitalize;
}